<template>
  <el-row>
    <el-col id="sidebar"
      :span="siderbarSpan">
      <el-row type="flex"
        align="middle"
        style="flex-flow: column">
        <el-col class="top"
          @click.native="collapse = !collapse">
          <!-- <div>
          </div> -->
        </el-col>

        <el-col class="content"
          :style="contentStyle">
          <el-menu router
            :collapse="collapse"
            :collapse-transition="false"
            unique-opened
            text-color="#909399"
            active-text-color="#409EFF"
            @open="handleOpen"
            @close="handleClose">
            <template v-for="(item, index) in subMenuList">
              <el-submenu :key="index"
                :index="item['index']"
                v-if="item['children']">
                <template slot="title">
                  <i :class="item['icon']"></i>
                  <span>{{ item['title'] }}</span>
                </template>

                <el-menu-item :key="index + '-' + childIndex"
                  :index="item['index'] + child['index']"
                  v-for="(child, childIndex) in item['children']">
                  {{ child['title'] }}
                </el-menu-item>
              </el-submenu>

              <el-menu-item :key="index"
                :index="item['index']"
                v-else>
                <template slot="title">
                  <i :class="item['icon']"></i>
                  <span>{{ item['title'] }}</span>
                </template>
              </el-menu-item>
            </template>
          </el-menu>
        </el-col>
      </el-row>
    </el-col>

    <el-col :span="contentSpan"
      id="content">
      <el-row type="flex"
        align="middle"
        style="flex-flow: column">
        <el-col class="top">
          <el-popover id="search"
            ref="popover"
            placement="bottom"
            title="历史搜索"
            width="400"
            trigger="focus">
            <el-tag size="small"
              style="margin: 5px !important"
              closable
              effect="plain"
              :key="index"
              @close="close"
              v-for="(item, index) in historyList">
              <span>{{ item }}</span>
            </el-tag>

            <el-input slot="reference"
              style="width: 400px; border: none"
              size="small"
              v-model="seach">
              <el-button slot="append"
                icon="el-icon-search"
                @click="searchQuery"></el-button>
            </el-input>
          </el-popover>

          <el-avatar style="margin: 0 20px"
            src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"></el-avatar>
        </el-col>

        <el-col class="content"
          :style="contentStyle">
          <router-view></router-view>
        </el-col>
      </el-row>
    </el-col>
  </el-row>
</template>
<script>
export default {
  name: 'Home',

  data () {
    return {
      subMenuList: [
        {
          index: '/system',
          title: '系统配置',
          icon: 'el-icon-location',
        },
        {
          index: '/base',
          title: '基础配置',
          icon: 'el-icon-location',
          children: [
            {
              index: '/enum',
              title: '枚举字典',
              icon: 'el-icon-location',
            },
          ],
        },
      ],
      collapse: false,
      seach: undefined,
      seachList: [],
      contentStyle: {
        height: window.innerHeight - 56 + 'px',
        width: '100%',
        overflow: 'auto',
        padding: '0 0 0 2px',
      },
    }
  },

  created () { },

  mounted () { },

  computed: {
    siderbarSpan () {
      return this.collapse ? 1 : 3
    },
    contentSpan () {
      return this.collapse ? 23 : 21
    },

    historyList: {
      set: function (newValue) {
        this.$store.commit('SET_LOCALHISTORY', newValue)
      },

      get: function () {
        return this.$store.getters.locallHistory
      },
    },
  },

  methods: {
    handleOpen (key, keyPath) {
      console.log(key, keyPath)
    },
    handleClose (key, keyPath) {
      console.log(key, keyPath)
    },

    searchQuery () {
      if (this.seach) {
        this.historyList = this.seach
        this.seach = undefined
      }
    },

    close () {
      console.info(111)
    },
  },
}
</script>

<style lang="scss" scoped>
#sidebar {
  .top {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 56px;
    width: 100%;
    background: #409eff;

    div {
      width: 100%;
      height: 100%;
      background: #409eff;
      z-index: 999999;
      border: 2px solid rgb(64, 158, 255);
    }
  }

  .el-menu {
    border-right: none;
  }

  .el-submenu {
    .el-menu-item {
      padding: 0 20px !important;
    }
  }
}

#content {
  .top {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 56px;
    width: 100%;
    background: #409eff;
  }
}

#search {
  .el-input {
    border: none !important;
  }

  .el-button {
    border: none;
  }
}

/*修改滚动条样式*/

div::-webkit-scrollbar {
  /* 滚动条整体部分 */
  width: 2px;
  // display: none;
  /**/
}

div::-webkit-scrollbar-thumb {
  /* 滚动条的轨道（里面装有Thumb） */
  background: #409eff;
}
</style>
