<template>
  <div>
    <Pack-Table :option="option">
      <template slot="rowMenu"
        slot-scope="scope">
        <button-group text="编辑,删除"
          click="rowUpdate,rowDelete"
          @rowUpdate="handleRowUpdate(scope.row)"
          @rowDelete="handleRowDelete(scope.row)" />
      </template>
    </Pack-Table>
  </div>
</template>
<script>
import PackTable from '@/components/table/index'
import ButtonGroup from '@/components/base/button/group'
export default {
  name: 'enum',
  props: {

  },
  components: {
    PackTable,
    ButtonGroup
  },
  data () {
    return {
      option: {
        list: [],
        border: true,
        stripe: true,
        height: window.innerHeight - 260,
        page: 1,
        limit: 15,
        total: 0,
        rowkey: "id",
        rowMenu: true,
        selection: true,
        column: [
          {
            prop: "id",
            label: 'ID',
          },
          {
            prop: "label",
            label: 'label',
            search: true
          },
          {
            prop: "name",
            label: 'name',
          }
        ]
      }
    }
  },
  created () { },
  mounted () {

    this.$nextTick(() => {
      this.option.list = []
      for (this.option.total = 1; this.option.total <= 100; this.option.total++) {
        this.option.list.push({ id: this.option.total })
      }

      --this.option.total
    })
  },
  methods: {

    handleRowUpdate (row) {
      console.info('编辑' + row);
    },
    handleRowDelete (row) {
      console.info('删除' + row);
    },
  },
  watch: {},
}
</script>