<template>

  <div style="height:100%;padding:5%;box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);">
    <el-row :gutter="25">
      <el-col :span="4" v-for='(item,index) in list' :key='index' style="margin-bottom:20px">
        <el-card style="" :style="item['imageUrl'] | cardStyle" @click.native="handleCard(item)">
          <el-descriptions id="descriptions" :title="item.title" :column="1">
            <el-descriptions-item label-class-name="my-label" label="名称">{{item.name}}</el-descriptions-item>
            <el-descriptions-item label-class-name="my-label" label="别名">{{item.otherName}}</el-descriptions-item>
            <el-descriptions-item label-class-name="my-label" label="分类">{{item.class}}</el-descriptions-item>
            <el-descriptions-item label-class-name="my-label" label="上映时间">{{item.createTime}}</el-descriptions-item>
          </el-descriptions>
        </el-card>
      </el-col>
    </el-row>

    <el-dialog :visible.sync="dialogVisible">

      <video :src="videosrc" controls="controls"></video>
    </el-dialog>
  </div>

</template>
<script>
  export default {
    name: 'index',
    props: {},
    components: {},
    data() {
      return {
        list: [],

        videosrc: undefined,


        dialogVisible: false
      }
    },
    filters: {

      cardStyle(val) {

        return {
          'background-image': 'url(' + val + ')',
          'background-repeat': 'no-repeat',
          'background-size': '100% 100%',
          'height': window.innerHeight / 3 - 50 + 'px'
        }

      }

    },
    created() {


    },
    mounted() {

      this.list = []

      for (let index = 0; index < 100; index++) {

        this.list.push({
          id: index, // id 唯一标识
          name: "片名" + index, //名称
          title: "片名" + index, //全程
          otherName: "", // 别名
          present: "", // 介绍
          class: "", // 分类
          createTime: "", // 创建时间
          imageUrl: "https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg", //图片地址
          video: 'https://1500003032.vod2.myqcloud.com/6c991650vodcq1500003032/bfb661c4387702294691856657/aWj0l8bBYzEA.mp4'
        })
      }


    },
    methods: {

      handleCard(item) {
        this.dialogVisible = true
        this.videosrc = item.video
      },
    },
    watch: {},
  }
</script>
<style lang="scss">
  #descriptions {
    .el-descriptions__body {
      position: relative;
      bottom: 0;
      color: white;
      background: rgba(255, 255, 255, 0);

      .el-descriptions__table {
        position: absolute !important;
        top: 90px;
      }

      .el-descriptions-row {
        padding: 1px 0 !important;
      }

      .el-descriptions-item {
        padding: 1px 0 !important;
      }
    }
  }

  .my-label {
    margin: 0 !important;
    padding: 0 !important;
  }

  .my-content {
    margin: 0 !important;
    padding: 0 !important;
  }
</style>