<template>
  <el-card>
    <div slot="header">

      <el-form inline
        @submit.native.prevent>
        <el-form-item :key='index'
          v-for='(item,index) in form'
          :label='item.label'
          :prop='item.prop'>
          <el-input v-model="form[item.prop]"></el-input>
        </el-form-item>
      </el-form>

    </div>
    <el-table ref="table"
      tooltip-effect="dark"
      highlight-current-row
      :data="option['list']"
      :border="option['border']"
      :height="option['height']"
      :stripe="option['stripe']"
      :row-key="option['rowkey']"
      :empty-text="'暂无数据......'"
      :size="option['size'] || 'mini'"
      @row-click="handleRowClick"
      @selection-change="handleSelectionChange">

      <el-table-column align="center"
        show-overflow-tooltip
        fixed="left"
        width="50px"
        type="selection"
        v-if="option['selection']">
      </el-table-column>

      <el-table-column align="center"
        show-overflow-tooltip
        fixed="left"
        width="100px"
        label="序号"
        type="index">
      </el-table-column>

      <el-table-column align="center"
        show-overflow-tooltip
        :key="item.prop"
        :label="item.label"
        :prop="item.prop"
        :width="item.width"
        v-for="(item,index) in column">
        <template slot-scope="scope">
          <slot :name="item.prop"
            :row="scope.row">
            <span>{{ scope.row[item.prop] }}</span>
          </slot>
        </template>
      </el-table-column>

      <el-table-column v-if="option['rowMenu']"
        align="center"
        show-overflow-tooltip
        fixed="right"
        label="操作">
        <template slot-scope="scope">
          <slot name="rowMenu"
            :row="scope.row">
          </slot>
        </template>
      </el-table-column>

    </el-table>

    <el-pagination style="float:right;margin:10px;"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page.sync="option['page']"
      :page-sizes="[10,15,20,25,100, 200]"
      :page-size.sync="option['limt']"
      layout="total, sizes, prev, pager, next, jumper"
      :total="option['total']">
    </el-pagination>

  </el-card>
</template>
<script>
export default {
  name: 'packtable',
  props: {
    option: {
      type: [Array, Object],
      default: () => { },
    },
  },
  components: {},
  data () {
    return {

      row: undefined,
      multipleSelection: []//多选的数据
    }
  },
  created () {

  },
  mounted () {
    this.$nextTick(() => {
      console.info(this.option);
    })
  },
  computed: {
    ids () {
      return this.multipleSelection.map(item => {
        return item.id
      })
    },
    column () {
      if (this.option['column'] && this.option['column'] instanceof Array) {
        return this.option['column']
      }
      return []

    },
    form () {
      if (this.option['column'] && this.option['column'] instanceof Array) {

        return this.option['column'].filter((item) => item.search)
      }
      return []
    },
    search () { },
  },
  updated () {
    this.$nextTick(() => {
      this.$refs.table.doLayout()
    })
  },
  methods: {

    handleRowClick (row) {
      console.info(row);
      if (this.option['selection']) {
        this.$refs.table.toggleRowSelection(row);
      }
      this.row = row
    },

    handleSelectionChange (val) {
      console.info(val);
      this.multipleSelection = val
    },

    handleSizeChange (val) {
      this.option['limit'] = val
    },

    handleCurrentChange (val) {
      this.option['page'] = val
    }
  },
  watch: {},
}
</script>