<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title%></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <script src="../static/echart/index.js"></script> -->
</head>

<body>
  <div id="app"></div>
</body>

</html>