<template>

  <div>
    <el-button :key="index"
      :size="size || 'mini'"
      :type="type || 'text'"
      v-for="(item,index) in list"
      @click.stop="buttonClick(clicked[index])">
      {{item}}
    </el-button>
  </div>

</template>
<script>
export default {
  name: '',
  props: {
    text: {
      require: true,
      type: String,
      default: undefined
    },
    click: {
      require: true,
      type: String,
      default: undefined
    },

    type: {
      type: String,
      default: undefined
    },
    size: {
      type: String,
      default: undefined
    }
  },
  components: {},
  data () {
    return {}
  },

  computed: {
    list () {
      if (this.text) {
        return this.text.split(",")
      }
      return []
    },

    clicked () {
      if (this.text) {
        return this.click.split(",")
      }
      return []
    }
  },

  methods: {
    buttonClick (val) {
      this.$emit(val)
    },
  },
  watch: {},
}
</script>